arichuvadi==0.0.3
certifi==2022.12.7
charset-normalizer==3.1.0
contextlib2==21.6.0
idna==3.4
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
Open-Tamil==1.1
regex==2022.10.31
requests==2.28.2
semantic-version==2.10.0
setuptools-rust==1.5.2
tiktoken @ file:///home/vanangamudi/agam/projects/code/cloned/tiktoken
torch==1.13.1
typing-extensions==4.5.0
urllib3==1.26.15
